// Background del modal
.modal__conteiner{
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100%;
    position: fixed;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    opacity: 0;
    visibility: hidden;
    transition: all .2s ease-in-out;
}
//Activar background del modal
.modal__conteiner-active{
    opacity: 1;
    visibility: visible;
}
//Caja del modal
.my__modal{
    width: 32rem;
    height: 34rem;
    background-color: #f6f7fe;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

//Texto principal del modal Usuario
.my__modal__h3 {
    color: #888888;
    text-align: center;
    margin: 1rem 0rem 4rem 0rem;
}

//Contenedor del formulario
.form__modal {
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    flex-direction: column;
}
//Caja del input
.input__modal {
    width: 16rem;
    height: 2.3rem;
    margin: 1rem 0rem;
    border: none;
    border: 1px solid #88888845;
    border-radius: 15px;
    padding: 0.5rem;
}
//Boton ENVIAR
.input__btn {
    background-color: lightblue;
    width: 6rem;
    height: 2.25rem;
    margin: 1rem 0rem;
    border-radius: 50px;
}
//Texto cambiar usuario
#btn__change{
    margin: 1rem 0rem 0.5rem 0rem;
    color: #888888;
    &:hover{
        color: lightblue;
    }
}

//Boton para cerrar el modal
.cerrar__modal {
    background-color: red;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0.5rem 0rem 1rem 0rem;
}
//Caja del boton cerrar modal
.cerrar__modal{
    color: white;
    background-color: red;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    align-items: center;
}
//SVG boton cerrar modal
.boton-close-svg{
    width: 1rem;
}