* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/* RESET BOOTSTRAP */
button {
  border: none;
  background: none;
  color: none; }

p {
  margin-bottom: 0rem; }

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0rem; }

/* RESET BOOTSTRAP FINAL */
.nav__up {
  background-color: #101013;
  width: 100%;
  height: 12rem;
  display: flex;
  justify-content: center;
  align-items: center; }
  .nav__up .nav__up__conteiner {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center; }
  .nav__up .nav__up__logo {
    width: 20rem; }
  .nav__up .user {
    position: absolute;
    justify-content: flex-end;
    width: 3.5rem;
    height: 3.5rem;
    border: 1px solid white;
    border-radius: 50%;
    right: 10rem;
    display: flex;
    justify-content: center;
    align-items: center; }
  .nav__up .wallet {
    position: absolute;
    justify-content: flex-end;
    width: 3.5rem;
    height: 3.5rem;
    border: 1px solid white;
    border-radius: 50%;
    right: 5rem;
    display: flex;
    justify-content: center;
    align-items: center; }
  .nav__up .nav__icon {
    width: 1.5rem; }

.nav {
  background-color: #1d1d24;
  width: 100%;
  height: 4rem; }

.nav__a {
  color: white; }

.btn-outline-success {
  --bs-btn-color: red;
  --bs-btn-border-color: red;
  --bs-btn-hover-bg: red;
  --bs-btn-hover-border-color: red; }

.conteiner__carousel {
  display: flex;
  width: 100%;
  height: 100%; }

.conteiner__h3 {
  width: 100%;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center; }

.conteiner__card {
  background-color: #b3bbd1;
  width: 100%;
  height: 30rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center; }

.card1 {
  background-color: white;
  width: 18rem;
  height: 25rem;
  border: 0.5px solid gray;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0.5rem;
  border-radius: 15px; }

.conteiner__img {
  padding: 0.5rem;
  width: 16.5rem;
  height: 13.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(128, 128, 128, 0.488);
  border-radius: 10px; }

.card1__img {
  height: 100%; }

.card1__h5 {
  font-size: 1rem;
  text-align: center;
  padding: 1rem 0.17rem 0.5rem 0.17rem; }

.conteiner__precio {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }

.card1__precio {
  font-size: 1.1rem;
  font-weight: bold;
  color: red;
  padding: 0rem 0rem 0.5rem 0rem; }

.conteiner__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: red;
  width: 2.5rem;
  height: 2.5rem; }
  .conteiner__btn .btn__icon__despl {
    display: none;
    width: 1.5rem; }
  .conteiner__btn .btn__icon {
    width: 1.5rem; }
  .conteiner__btn:hover {
    background-color: white;
    border: 2px solid red; }
    .conteiner__btn:hover .btn__icon {
      display: none; }
    .conteiner__btn:hover .btn__icon__despl {
      display: initial; }

.footer__conteiner {
  background-color: black;
  display: flex;
  width: 100%;
  height: 25rem; }

.footer__logo {
  width: 10rem;
  height: 4rem;
  margin-top: 6rem;
  margin-left: 10rem; }
