* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/* RESET BOOTSTRAP */
/* RESET BOOTSTRAP FINAL */
.nav__up {
  background-color: black;
  width: 100%;
  height: 12rem;
  display: flex;
  justify-content: center;
  align-items: center; }
  .nav__up .nav__up__conteiner {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center; }
  .nav__up .nav__up__logo {
    width: 20rem; }
  .nav__up .user {
    position: absolute;
    justify-content: flex-end;
    width: 3.5rem;
    height: 3.5rem;
    border: 1px solid white;
    border-radius: 50%;
    right: 10rem;
    display: flex;
    justify-content: center;
    align-items: center; }
  .nav__up .wallet {
    position: absolute;
    justify-content: flex-end;
    width: 3.5rem;
    height: 3.5rem;
    border: 1px solid white;
    border-radius: 50%;
    right: 5rem;
    display: flex;
    justify-content: center;
    align-items: center; }
  .nav__up .nav__icon {
    width: 1.5rem; }

.nav {
  background-color: #1f1f1f;
  width: 100%;
  height: 4rem; }

.nav__a {
  color: white; }

.btn-outline-success {
  --bs-btn-color: red;
  --bs-btn-border-color: red;
  --bs-btn-hover-bg: red;
  --bs-btn-hover-border-color: red; }

.conteiner__carousel {
  display: flex;
  width: 100%;
  height: 100%; }

.conteiner__h1 {
  background-color: whitesmoke;
  width: 100%;
  height: 32rem; }

.footer__conteiner {
  background-color: black;
  display: flex;
  width: 100%;
  height: 25rem; }

.footer__logo {
  width: 10rem;
  height: 4rem;
  margin-top: 6rem;
  margin-left: 10rem; }
